.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
 }
 .header--profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
 flex-wrap: wrap;
 }
 .header--profile > .summary {

 }
 .form--signup {
  background: #bfaca0;
  padding: 36px;
  -webkit-box-shadow: 0 3px 3px #1f1f1f3d;
  box-shadow: 0 3px 3px #1f1f1f5c;
 }
 .logout--btn {
  margin-left: auto;

 }
 .admin--btn {
   font-size: 28px;
 }
 .ant-form-item-label label {
   font-size: 14px;
  color: white !important;}
 .header h1 {
    font-size: 30px;
    color: rgb(146, 99, 37);
 }
 .about-wrapper {
    height: 30em;
    width: 100vw;
 }
 .about-text {
    position: relative;
    width: 30em;
    height: 20em;
 }
.hidden {
    display: none;
}
 .show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -100vw;

    width: 100vw;
    -webkit-animation: slide-in 1s forwards;
    animation: slide-in 1s forwards;
 }
 @-webkit-keyframes slide-in {
   100% { left: 0 }
 }
 @keyframes slide-in {
   100% { left: 0 }
 }

/* ======= TABLE
*/
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
